@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Header & Navigation Scope */
html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    background-color: #AD2426;
    border-bottom: 10px solid rgb(143, 13, 13);
    width: 100%;
    z-index: 9999;
    transition: 0.5s;
}

header.active {
    top: -95px;
}

.Header-Content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.Nav, a, button {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.Head-Logo {
    cursor: pointer;
}

.Nav_links {
    list-style: none;
}

.Nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.Nav_links li a {
    transition: all 0.3s ease 0s;
}

.Nav_links li a:hover {
    color: #ff9023;
}


.btn-NavEnroll {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #AD2426;
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    border: 2px solid white;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
}

.btn-NavEnroll .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.btn-NavEnroll:hover {
    transform: scale(1.05);
    background-color: #ff9023;
    border: 2px solid #ff9023;
}

.btn-NavEnroll:hover .icon {
  transform: translate(4px);
}

.btn-NavEnroll:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btn-NavEnroll::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

/* About Us HomePage Scope ==========================================================*/
#AboutUs-Home {
    background-image: url("./Images/About Us Image/About Us Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    color: white;
}

.AHome-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 4rem;
    font-weight: 600;
}

/* About Us History Page Scope ==========================================================*/

#PhilTech-History {
    width: 100%;
    height: 100%;
    background-color: #FAF9F6;
}

.History-Container {
    margin-left: 110px;
    margin-right: 110px;
    padding-top: 100px;
}

.History-Title-Box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 40px;
    width: 160px;
    text-align: center;
    line-height: 35px;
    margin-bottom: 20px;
}

.History-Title2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 45px;
}

.History-Description {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.History-Description2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.History-Description3 {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.History-Description03 {
    font-size: 1.2rem;
    padding-bottom: 100px;
}

/* About Us Motto Page Scope ==========================================================*/
#PhilTech-Motto {
    background-image: url("/Images/Motto\ Images/Motto Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    color: white;
}

.Motto-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.Motto-Quotes {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 5px;
}

/* About Us Hymn Page Scope ==========================================================*/
#PhilTech-Hymn {
    width: 100%;
    background-color: #FAF9F6;
}

.Hymn-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-left: 110px;
    margin-right: 110px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.Hymn-Lyrics-Box {
    text-align: center;
}

.Hymn-Title {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #AD2426;
}

.Hymn-Lyrics {
    font-size: 1.5rem;
    font-weight: 600;
}

.Hymn-QR-Code {
    padding-top: 20px;
}

.Hymn-Qr-Instruction {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 10px;
}

.Hymn-Qr-Image img {
    height: 400px;
    margin-bottom: 10px;
}

.Youtube-Link {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Youtube-Link:hover {
    transform: scale(1.02);
}

.youtube-icon {
    height: 25px;
    margin-right: 10px;
}

/* About Us Developer Contact Page Scope ==========================================================*/
.BgDev-Popup {
    color: white;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: visible;
    transition: opacity 0.4s ease;
    pointer-events: none;
}

.BgDev-Popup.show {
    opacity: 1;
    pointer-events: auto;
}

.PopDev-Box {
    width: 800px;
    height: 600px;
    background-color: #131215;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
}

.PopDev-Cover {
    background-image: url("./Images/Developer Images/Header-Cover-Dev.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100px;
    color: white;
}

.PopDev-Container {
    margin-left: 30px;
    margin-right: 30px;
    height: 600px;
}

.PopDev-Profile {
    height: 100px;
    position: relative;
    bottom: 30px;
}

.PopDev-Name {
    font-weight: 600;
    display: flex;
    position: relative;
    left: 120px;
    bottom: 80px;
}

.PopDev-Badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4px;
    border-radius: 5px;
    background-color: #5965F3;
    font-size: 0.8rem;
    height: 25px;
    width: 70px;
    margin-left: 10px;
}

.PopDev-Contact-Bg {
    height: 380px;
    width: 100%;
    background: #1B1A1F;
    position: relative;
    bottom: 30px;
    border-radius: 10px;
    padding: 20px;
}

.PopDev-Email-Grid,
.PopDev-Number-Grid,
.PopDev-Facebook-Grid,
.PopDev-Instagram-Grid,
.PopDev-Telegram-Grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 27px;
}

.PopDev-CApp {
    font-weight: 600;
    margin-bottom: 5px;
}

.Dev-Box2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Dev-Account-Logo {
    height: 15px;
}

.Dev-Logo-Bg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #414147;
    height: 30px;
    width: 70px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Dev-Logo-Bg:hover {
    background-color: #5965F3;
}

.PopDev-Closer4 {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
    transition: color 0.3s ease;
}

.PopDev-Closer4:hover {
    color: #131214;
}


/* About Us Footer Page Scope ==========================================================*/
footer {
    width: 100%;
    height: 40vh;
    background-color: #131214;
    color: white;
}

.Footer-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin-left: 110px;
    margin-right: 110px;
}

.Footer-SchoolName {
    font-size: 2rem;
    font-weight: 800;
}

.Footer-SchoolMotto {
    color: #EF2B34;
    font-weight: 500;
    margin-bottom: 30px;
}

.Nav_links2 {
    list-style: none;
    margin-bottom: 50px;
}

.Nav_links2 li {
    display: inline-block;
    padding: 0px 20px;
}

.Nav_links2 li a {
    font-weight: 800;
    transition: all 0.3s ease;
}

.Nav_links2 li a:hover {
    color: #EF2B34;
}

.Footer-Socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.Footer-Socials ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.Footer-Socials ul li {
    list-style: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.37);
    background-color: transparent;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Footer-Socials ul li:hover {
    background-color: white;
    border: 2px solid white;
    transform: scale(1.1);
}

.fa-brands {
    color: #ffffff7a;
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.Footer-Socials ul li:hover .fa-brands {
    color: #131214;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Hymn-Container {
        display: flex;
        flex-direction: column;
    }

@media (min-width: 1025px) and (max-width: 1440px) {

    .Hymn-QR-Code {
        padding-top: 10%;
    }
    .Hymn-Qr-Image img {
        height: 300px;
    }
    .Hymn-Lyrics {
        font-size: 1.3rem;
    }
}
